.elementor-471 .elementor-element.elementor-element-9022789 {
	--display: flex;
	--min-height: 70vh;
	--flex-direction: row;
	--container-widget-width: calc(
		(1 - var(--container-widget-flex-grow)) * 100%
	);
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--justify-content: flex-start;
	--align-items: center;
	--gap: 10px 10px;
	--background-transition: 0.3s;
	--overlay-opacity: 0.58;
	--margin-top: 0em;
	--margin-bottom: 0em;
	--margin-left: 0em;
	--margin-right: 0em;
	--padding-top: 0%;
	--padding-bottom: 2%;
	--padding-left: 0%;
	--padding-right: 0%;
}
.elementor-471
	.elementor-element.elementor-element-9022789:not(
		.elementor-motion-effects-element-type-background
	),
.elementor-471
	.elementor-element.elementor-element-9022789
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-image: url("/content/uploads/2023/11/Titel-Jobs-II-1.webp");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.elementor-471 .elementor-element.elementor-element-9022789::before,
.elementor-471
	.elementor-element.elementor-element-9022789
	> .elementor-background-video-container::before,
.elementor-471
	.elementor-element.elementor-element-9022789
	> .e-con-inner
	> .elementor-background-video-container::before,
.elementor-471
	.elementor-element.elementor-element-9022789
	> .elementor-background-slideshow::before,
.elementor-471
	.elementor-element.elementor-element-9022789
	> .e-con-inner
	> .elementor-background-slideshow::before,
.elementor-471
	.elementor-element.elementor-element-9022789
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer::before {
	--background-overlay: "";
	background-color: transparent;
	background-image: linear-gradient(
		90deg,
		var(--e-global-color-3ab5f8b) 35%,
		#00000000 65%
	);
}
.elementor-471 .elementor-element.elementor-element-9022789,
.elementor-471 .elementor-element.elementor-element-9022789::before {
	--border-transition: 0.3s;
}
.elementor-471
	.elementor-element.elementor-element-9022789
	> .elementor-shape-bottom
	.elementor-shape-fill,
.elementor-471
	.elementor-element.elementor-element-9022789
	> .e-con-inner
	> .elementor-shape-bottom
	.elementor-shape-fill {
	fill: var(--e-global-color-text);
}
.elementor-471
	.elementor-element.elementor-element-9022789
	> .elementor-shape-bottom
	svg,
.elementor-471
	.elementor-element.elementor-element-9022789
	> .e-con-inner
	> .elementor-shape-bottom
	svg {
	width: calc(100% + 1.3px);
	height: 70px;
}
.elementor-471 .elementor-element.elementor-element-a79f2ab {
	--display: flex;
	--justify-content: flex-end;
	--align-items: flex-start;
	--container-widget-width: calc(
		(1 - var(--container-widget-flex-grow)) * 100%
	);
	--background-transition: 0.3s;
}
.elementor-471
	.elementor-element.elementor-element-d6b2ddc
	.premium-dual-header-first-header
	span {
	display: block;
}
.elementor-471
	.elementor-element.elementor-element-d6b2ddc
	.elementor-widget-container {
	text-align: left;
}
.elementor-471
	.elementor-element.elementor-element-d6b2ddc
	.premium-dual-header-first-span {
	font-family: "Dunbar Tall", Sans-serif;
	font-size: 5.5vw;
	font-weight: 600;
	text-transform: uppercase;
	font-style: italic;
	line-height: 0.7em;
	color: var(--e-global-color-5fd91c3);
}
.elementor-471
	.elementor-element.elementor-element-d6b2ddc
	.premium-dual-header-second-header {
	font-family: "Dunbar Tall", Sans-serif;
	font-size: 5vw;
	font-weight: 800;
	text-transform: uppercase;
	font-style: italic;
	letter-spacing: 0px;
	color: var(--e-global-color-5fd91c3);
}
.elementor-471 .elementor-element.elementor-element-d6b2ddc {
	z-index: 10;
}
.elementor-471 .elementor-element.elementor-element-987f8dd {
	text-align: left;
	width: var(--container-widget-width, 55.431%);
	max-width: 55.431%;
	--container-widget-width: 55.431%;
	--container-widget-flex-grow: 0;
}
.elementor-471
	.elementor-element.elementor-element-987f8dd
	.elementor-heading-title {
	color: var(--e-global-color-5fd91c3);
	font-family: "Roboto", Sans-serif;
	font-size: 1.5vw;
	font-weight: 400;
	text-transform: none;
	font-style: normal;
	line-height: 1.3em;
}
.elementor-471
	.elementor-element.elementor-element-987f8dd
	> .elementor-widget-container {
	margin: 0% 4% 4% 0%;
}
.elementor-471 .elementor-element.elementor-element-987f8dd.elementor-element {
	--flex-grow: 0;
	--flex-shrink: 0;
}
.elementor-471 .elementor-element.elementor-element-79ade03 {
	--display: flex;
	--background-transition: 0.3s;
	--padding-top: 4em;
	--padding-bottom: 0em;
	--padding-left: 0em;
	--padding-right: 0em;
}
.elementor-471
	.elementor-element.elementor-element-79ade03:not(
		.elementor-motion-effects-element-type-background
	),
.elementor-471
	.elementor-element.elementor-element-79ade03
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: transparent;
	background-image: linear-gradient(
		180deg,
		var(--e-global-color-text) 0%,
		var(--e-global-color-3ab5f8b) 100%
	);
}
.elementor-471 .elementor-element.elementor-element-79ade03,
.elementor-471 .elementor-element.elementor-element-79ade03::before {
	--border-transition: 0.3s;
}
.elementor-471 .elementor-element.elementor-element-ebe7226 {
	columns: 2;
	text-align: left;
	color: var(--e-global-color-5fd91c3);
	font-family: "Roboto", Sans-serif;
	font-size: 18px;
	font-weight: 400;
	width: var(--container-widget-width, 70%);
	max-width: 70%;
	--container-widget-width: 70%;
	--container-widget-flex-grow: 0;
}
.elementor-471
	.elementor-element.elementor-element-ebe7226
	> .elementor-widget-container {
	margin: 0em 0em 0em 0em;
	padding: 0em 0em 0em 0em;
}
.elementor-471 .elementor-element.elementor-element-ebe7226.elementor-element {
	--align-self: flex-start;
}
.elementor-471
	.elementor-element.elementor-element-fbe545e
	.premium-dual-header-first-header
	span {
	display: block;
}
.elementor-471
	.elementor-element.elementor-element-fbe545e
	.elementor-widget-container {
	text-align: left;
}
.elementor-471
	.elementor-element.elementor-element-fbe545e
	.premium-dual-header-first-span {
	font-family: "Dunbar Tall", Sans-serif;
	font-size: 4vw;
	font-weight: 800;
	text-transform: uppercase;
	font-style: italic;
	line-height: 0.5em;
	color: var(--e-global-color-secondary);
}
.elementor-471
	.elementor-element.elementor-element-fbe545e
	.premium-dual-header-second-header {
	font-family: "Dunbar Tall", Sans-serif;
	font-size: 5.1vw;
	font-weight: 800;
	text-transform: uppercase;
	font-style: italic;
	letter-spacing: 0px;
	color: var(--e-global-color-5fd91c3);
}
.elementor-471
	.elementor-element.elementor-element-fbe545e
	> .elementor-widget-container {
	margin: 4em 0em 0em 0em;
}
.elementor-471 .elementor-element.elementor-element-fbe545e {
	width: var(--container-widget-width, 95.498%);
	max-width: 95.498%;
	--container-widget-width: 95.498%;
	--container-widget-flex-grow: 0;
	z-index: 10;
}
.elementor-471 .elementor-element.elementor-element-fbe545e.elementor-element {
	--flex-grow: 0;
	--flex-shrink: 0;
}
.elementor-471 .elementor-element.elementor-element-8f2705d {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--gap: 0px 0px;
	--background-transition: 0.3s;
	--padding-top: 0vw;
	--padding-bottom: 3vw;
	--padding-left: 0vw;
	--padding-right: 0vw;
}
.elementor-471
	.elementor-element.elementor-element-8f2705d:not(
		.elementor-motion-effects-element-type-background
	),
.elementor-471
	.elementor-element.elementor-element-8f2705d
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: transparent;
	background-image: linear-gradient(
		180deg,
		var(--e-global-color-3ab5f8b) 0%,
		var(--e-global-color-text) 100%
	);
}
.elementor-471 .elementor-element.elementor-element-8f2705d,
.elementor-471 .elementor-element.elementor-element-8f2705d::before {
	--border-transition: 0.3s;
}
.elementor-471 .elementor-element.elementor-element-3cad4b6 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--background-transition: 0.3s;
}
.elementor-471
	.elementor-element.elementor-element-c3952ff
	.elementor-cta__content {
	min-height: 30vh;
	text-align: center;
}
.elementor-471
	.elementor-element.elementor-element-c3952ff
	.elementor-cta__title {
	font-family: "Dunbar Tall", Sans-serif;
	font-size: 3em;
	font-weight: 800;
	text-transform: uppercase;
	font-style: italic;
	color: var(--e-global-color-5fd91c3);
}
.elementor-471
	.elementor-element.elementor-element-c3952ff
	.elementor-cta__description {
	color: var(--e-global-color-5fd91c3);
}
.elementor-471
	.elementor-element.elementor-element-c3952ff
	.elementor-cta__button {
	color: var(--e-global-color-primary);
	border-color: var(--e-global-color-secondary);
	font-family: "Dunbar Tall", Sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-style: italic;
	text-decoration: none;
	background-color: var(--e-global-color-secondary);
}
.elementor-471
	.elementor-element.elementor-element-c3952ff
	.elementor-cta__content-item {
	transition-duration: 1000ms;
}
.elementor-471
	.elementor-element.elementor-element-c3952ff.elementor-cta--sequenced-animation
	.elementor-cta__content-item:nth-child(2) {
	transition-delay: calc(1000ms / 3);
}
.elementor-471
	.elementor-element.elementor-element-c3952ff.elementor-cta--sequenced-animation
	.elementor-cta__content-item:nth-child(3) {
	transition-delay: calc((1000ms / 3) * 2);
}
.elementor-471
	.elementor-element.elementor-element-c3952ff.elementor-cta--sequenced-animation
	.elementor-cta__content-item:nth-child(4) {
	transition-delay: calc((1000ms / 3) * 3);
}
.elementor-471
	.elementor-element.elementor-element-c3952ff
	.elementor-cta:not(:hover)
	.elementor-cta__bg-overlay {
	background-color: #31003c9e;
}
.elementor-471
	.elementor-element.elementor-element-c3952ff
	.elementor-cta:hover
	.elementor-cta__bg {
	filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
		hue-rotate(0deg);
}
.elementor-471
	.elementor-element.elementor-element-c3952ff
	.elementor-cta
	.elementor-cta__bg,
.elementor-471
	.elementor-element.elementor-element-c3952ff
	.elementor-cta
	.elementor-cta__bg-overlay {
	transition-duration: 1500ms;
}
.elementor-471
	.elementor-element.elementor-element-5bb0adb
	.elementor-cta__content {
	min-height: 30vh;
	text-align: center;
}
.elementor-471
	.elementor-element.elementor-element-5bb0adb
	.elementor-cta__title {
	font-family: "Dunbar Tall", Sans-serif;
	font-size: 3em;
	font-weight: 800;
	text-transform: uppercase;
	font-style: italic;
	color: var(--e-global-color-5fd91c3);
}
.elementor-471
	.elementor-element.elementor-element-5bb0adb
	.elementor-cta__description {
	color: var(--e-global-color-5fd91c3);
}
.elementor-471
	.elementor-element.elementor-element-5bb0adb
	.elementor-cta__button {
	color: var(--e-global-color-primary);
	border-color: var(--e-global-color-secondary);
	font-family: "Dunbar Tall", Sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-style: italic;
	text-decoration: none;
	background-color: var(--e-global-color-secondary);
}
.elementor-471
	.elementor-element.elementor-element-5bb0adb
	.elementor-cta__content-item {
	transition-duration: 1000ms;
}
.elementor-471
	.elementor-element.elementor-element-5bb0adb.elementor-cta--sequenced-animation
	.elementor-cta__content-item:nth-child(2) {
	transition-delay: calc(1000ms / 3);
}
.elementor-471
	.elementor-element.elementor-element-5bb0adb.elementor-cta--sequenced-animation
	.elementor-cta__content-item:nth-child(3) {
	transition-delay: calc((1000ms / 3) * 2);
}
.elementor-471
	.elementor-element.elementor-element-5bb0adb.elementor-cta--sequenced-animation
	.elementor-cta__content-item:nth-child(4) {
	transition-delay: calc((1000ms / 3) * 3);
}
.elementor-471
	.elementor-element.elementor-element-5bb0adb
	.elementor-cta:not(:hover)
	.elementor-cta__bg-overlay {
	background-color: #31003c73;
}
.elementor-471
	.elementor-element.elementor-element-5bb0adb
	.elementor-cta:hover
	.elementor-cta__bg {
	filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
		hue-rotate(0deg);
}
.elementor-471
	.elementor-element.elementor-element-5bb0adb
	.elementor-cta
	.elementor-cta__bg,
.elementor-471
	.elementor-element.elementor-element-5bb0adb
	.elementor-cta
	.elementor-cta__bg-overlay {
	transition-duration: 1500ms;
}
.elementor-471 .elementor-element.elementor-element-74677b7 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--background-transition: 0.3s;
}
.elementor-471
	.elementor-element.elementor-element-e634fcb
	.elementor-cta__content {
	min-height: 30vh;
	text-align: center;
}
.elementor-471
	.elementor-element.elementor-element-e634fcb
	.elementor-cta__title {
	font-family: "Dunbar Tall", Sans-serif;
	font-size: 3em;
	font-weight: 800;
	text-transform: uppercase;
	font-style: italic;
	color: var(--e-global-color-5fd91c3);
}
.elementor-471
	.elementor-element.elementor-element-e634fcb
	.elementor-cta__description {
	color: var(--e-global-color-5fd91c3);
}
.elementor-471
	.elementor-element.elementor-element-e634fcb
	.elementor-cta__button {
	color: var(--e-global-color-primary);
	border-color: var(--e-global-color-secondary);
	font-family: "Dunbar Tall", Sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-style: italic;
	text-decoration: none;
	background-color: var(--e-global-color-secondary);
}
.elementor-471
	.elementor-element.elementor-element-e634fcb
	.elementor-cta__content-item {
	transition-duration: 1000ms;
}
.elementor-471
	.elementor-element.elementor-element-e634fcb.elementor-cta--sequenced-animation
	.elementor-cta__content-item:nth-child(2) {
	transition-delay: calc(1000ms / 3);
}
.elementor-471
	.elementor-element.elementor-element-e634fcb.elementor-cta--sequenced-animation
	.elementor-cta__content-item:nth-child(3) {
	transition-delay: calc((1000ms / 3) * 2);
}
.elementor-471
	.elementor-element.elementor-element-e634fcb.elementor-cta--sequenced-animation
	.elementor-cta__content-item:nth-child(4) {
	transition-delay: calc((1000ms / 3) * 3);
}
.elementor-471
	.elementor-element.elementor-element-e634fcb
	.elementor-cta:not(:hover)
	.elementor-cta__bg-overlay {
	background-color: #31003c85;
}
.elementor-471
	.elementor-element.elementor-element-e634fcb
	.elementor-cta:hover
	.elementor-cta__bg {
	filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
		hue-rotate(0deg);
}
.elementor-471
	.elementor-element.elementor-element-e634fcb
	.elementor-cta
	.elementor-cta__bg,
.elementor-471
	.elementor-element.elementor-element-e634fcb
	.elementor-cta
	.elementor-cta__bg-overlay {
	transition-duration: 1500ms;
}
.elementor-471
	.elementor-element.elementor-element-5a2750f
	.elementor-cta__content {
	min-height: 30vh;
	text-align: center;
}
.elementor-471
	.elementor-element.elementor-element-5a2750f
	.elementor-cta__title {
	font-family: "Dunbar Tall", Sans-serif;
	font-size: 3em;
	font-weight: 800;
	text-transform: uppercase;
	font-style: italic;
	color: var(--e-global-color-5fd91c3);
}
.elementor-471
	.elementor-element.elementor-element-5a2750f
	.elementor-cta__button {
	color: var(--e-global-color-primary);
	border-color: var(--e-global-color-secondary);
	font-family: "Dunbar Tall", Sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-style: italic;
	text-decoration: none;
	background-color: var(--e-global-color-secondary);
}
.elementor-471
	.elementor-element.elementor-element-5a2750f
	.elementor-cta__content-item {
	transition-duration: 1000ms;
}
.elementor-471
	.elementor-element.elementor-element-5a2750f.elementor-cta--sequenced-animation
	.elementor-cta__content-item:nth-child(2) {
	transition-delay: calc(1000ms / 3);
}
.elementor-471
	.elementor-element.elementor-element-5a2750f.elementor-cta--sequenced-animation
	.elementor-cta__content-item:nth-child(3) {
	transition-delay: calc((1000ms / 3) * 2);
}
.elementor-471
	.elementor-element.elementor-element-5a2750f.elementor-cta--sequenced-animation
	.elementor-cta__content-item:nth-child(4) {
	transition-delay: calc((1000ms / 3) * 3);
}
.elementor-471
	.elementor-element.elementor-element-5a2750f
	.elementor-cta:not(:hover)
	.elementor-cta__bg-overlay {
	background-color: #31003c85;
}
.elementor-471
	.elementor-element.elementor-element-5a2750f
	.elementor-cta:hover
	.elementor-cta__bg {
	filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
		hue-rotate(0deg);
}
.elementor-471
	.elementor-element.elementor-element-5a2750f
	.elementor-cta
	.elementor-cta__bg,
.elementor-471
	.elementor-element.elementor-element-5a2750f
	.elementor-cta
	.elementor-cta__bg-overlay {
	transition-duration: 1500ms;
}
.elementor-471 .elementor-element.elementor-element-d8858c3 {
	--display: flex;
	--min-height: 30vh;
	--flex-direction: row;
	--container-widget-width: calc(
		(1 - var(--container-widget-flex-grow)) * 100%
	);
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--align-items: stretch;
	--gap: 10px 10px;
	--background-transition: 0.3s;
	--margin-top: 0rem;
	--margin-bottom: 0rem;
	--margin-left: 0rem;
	--margin-right: 0rem;
	--padding-top: 7em;
	--padding-bottom: 7em;
	--padding-left: 0em;
	--padding-right: 0em;
}
.elementor-471
	.elementor-element.elementor-element-d8858c3:not(
		.elementor-motion-effects-element-type-background
	),
.elementor-471
	.elementor-element.elementor-element-d8858c3
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: transparent;
	background-image: linear-gradient(
		180deg,
		var(--e-global-color-text) 0%,
		var(--e-global-color-text) 100%
	);
}
.elementor-471 .elementor-element.elementor-element-d8858c3,
.elementor-471 .elementor-element.elementor-element-d8858c3::before {
	--border-transition: 0.3s;
}
.elementor-471 .elementor-element.elementor-element-9ae0d31 {
	--display: flex;
	--background-transition: 0.3s;
}
.elementor-471
	.elementor-element.elementor-element-bfdcf3f
	.premium-dual-header-first-header
	span {
	display: block;
}
.elementor-471
	.elementor-element.elementor-element-bfdcf3f
	.elementor-widget-container {
	text-align: left;
	transform-origin: center center;
}
.elementor-471
	.elementor-element.elementor-element-bfdcf3f
	.premium-dual-header-first-span {
	font-family: "Dunbar Tall", Sans-serif;
	font-size: 4.1vw;
	font-weight: 600;
	text-transform: uppercase;
	font-style: italic;
	line-height: 0.9em;
	color: var(--e-global-color-5fd91c3);
}
.elementor-471
	.elementor-element.elementor-element-bfdcf3f
	.premium-dual-header-second-header {
	font-family: "Dunbar Tall", Sans-serif;
	font-size: 5.4vw;
	font-weight: 800;
	text-transform: uppercase;
	font-style: italic;
	letter-spacing: 0px;
	color: var(--e-global-color-secondary);
}
.elementor-471 .elementor-element.elementor-element-bfdcf3f {
	width: var(--container-widget-width, 105.318%);
	max-width: 105.318%;
	--container-widget-width: 105.318%;
	--container-widget-flex-grow: 0;
	z-index: 10;
}
.elementor-471 .elementor-element.elementor-element-4946ded {
	--display: flex;
	--justify-content: flex-start;
	--gap: 0px 0px;
	--background-transition: 0.3s;
	--margin-top: 1vw;
	--margin-bottom: 0vw;
	--margin-left: 0vw;
	--margin-right: 0vw;
}
.elementor-471 .elementor-element.elementor-element-1bd933d {
	text-align: left;
	width: var(--container-widget-width, 152.896%);
	max-width: 152.896%;
	--container-widget-width: 152.896%;
	--container-widget-flex-grow: 0;
}
.elementor-471
	.elementor-element.elementor-element-1bd933d
	> .elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.elementor-471 .elementor-element.elementor-element-b6a2b9c {
	--display: flex;
	--justify-content: flex-start;
	--align-items: flex-start;
	--container-widget-width: calc(
		(1 - var(--container-widget-flex-grow)) * 100%
	);
	--gap: 0px 0px;
	--background-transition: 0.3s;
	--margin-top: 2vw;
	--margin-bottom: 0vw;
	--margin-left: 0vw;
	--margin-right: 0vw;
}
.elementor-471 .elementor-element.elementor-element-b6a2b9c,
.elementor-471 .elementor-element.elementor-element-b6a2b9c::before {
	--border-transition: 0.3s;
}
.elementor-471
	.elementor-element.elementor-element-3549733
	.elementor-repeater-item-7134d02.elementor-social-icon {
	background-color: #5f2d7b00;
}
.elementor-471
	.elementor-element.elementor-element-3549733
	.elementor-repeater-item-c34ddff.elementor-social-icon {
	background-color: #00000000;
}
.elementor-471
	.elementor-element.elementor-element-3549733
	.elementor-repeater-item-4354f0a.elementor-social-icon {
	background-color: #00000000;
}
.elementor-471
	.elementor-element.elementor-element-3549733
	.elementor-repeater-item-0d19273.elementor-social-icon {
	background-color: #02010100;
}
.elementor-471
	.elementor-element.elementor-element-3549733
	.elementor-repeater-item-aeaf3ef.elementor-social-icon {
	background-color: #02010100;
}
.elementor-471
	.elementor-element.elementor-element-3549733
	.elementor-repeater-item-e7500d3.elementor-social-icon {
	background-color: #02010100;
}
.elementor-471
	.elementor-element.elementor-element-3549733
	.elementor-repeater-item-0b6fc03.elementor-social-icon {
	background-color: #ffffff00;
}
.elementor-471
	.elementor-element.elementor-element-3549733
	.elementor-repeater-item-501a816.elementor-social-icon {
	background-color: #02010100;
}
.elementor-471
	.elementor-element.elementor-element-3549733
	.elementor-repeater-item-abe0e4d.elementor-social-icon {
	background-color: #02010100;
}
.elementor-471 .elementor-element.elementor-element-3549733 {
	--grid-template-columns: repeat(3, auto);
	--icon-size: 4rem;
	--grid-column-gap: 0px;
	--grid-row-gap: 0px;
	width: 100%;
	max-width: 100%;
	align-self: center;
}
.elementor-471
	.elementor-element.elementor-element-3549733
	.elementor-widget-container {
	text-align: right;
}
.elementor-471
	.elementor-element.elementor-element-3549733
	.elementor-social-icon {
	background-color: #000000;
	--icon-padding: 0.1em;
}
.elementor-471
	.elementor-element.elementor-element-3549733
	> .elementor-widget-container {
	margin: 0% 0% 0% 0%;
}
:root {
	--page-title-display: none;
}
@media (min-width: 768px) {
	.elementor-471 .elementor-element.elementor-element-a79f2ab {
		--width: 100%;
	}
	.elementor-471 .elementor-element.elementor-element-3cad4b6 {
		--width: 50%;
	}
	.elementor-471 .elementor-element.elementor-element-74677b7 {
		--width: 50%;
	}
	.elementor-471 .elementor-element.elementor-element-9ae0d31 {
		--width: 64.847%;
	}
	.elementor-471 .elementor-element.elementor-element-4946ded {
		--width: 16.981%;
	}
	.elementor-471 .elementor-element.elementor-element-b6a2b9c {
		--width: 17.447%;
	}
}
@media (min-width: 1024px) {
	.elementor-471
		.elementor-element.elementor-element-9022789:not(
			.elementor-motion-effects-element-type-background
		),
	.elementor-471
		.elementor-element.elementor-element-9022789
		> .elementor-motion-effects-container
		> .elementor-motion-effects-layer {
		background-attachment: scroll;
	}
}
@media (max-width: 1023px) {
	.elementor-471
		.elementor-element.elementor-element-fbe545e
		.elementor-widget-container {
		text-align: center;
	}
	.elementor-471
		.elementor-element.elementor-element-fbe545e
		.premium-dual-header-first-span {
		font-size: 1.2em;
	}
	.elementor-471
		.elementor-element.elementor-element-fbe545e
		.premium-dual-header-second-header {
		font-size: 1.9em;
	}
}
@media (max-width: 767px) {
	.elementor-471
		.elementor-element.elementor-element-fbe545e
		.premium-dual-header-first-span {
		font-size: 0.6em;
		line-height: 1em;
	}
	.elementor-471
		.elementor-element.elementor-element-fbe545e
		.premium-dual-header-second-header {
		font-size: 1.5em;
	}
	.elementor-471 .elementor-element.elementor-element-fbe545e {
		--container-widget-width: 100vw;
		--container-widget-flex-grow: 0;
		width: var(--container-widget-width, 100vw);
		max-width: 100vw;
	}
} /* Start custom CSS for container, class: .elementor-element-9022789 */
.elementor-471 .elementor-element.elementor-element-9022789 {
	background-image: ;
} /* End custom CSS */
/* Start custom CSS for social-icons, class: .elementor-element-3549733 */
.elementor-471 .elementor-element.elementor-element-3549733 {
	overflow: hidden;
} /* End custom CSS */
/* Start Custom Fonts CSS */
@font-face {
	font-family: "Dunbar Tall";
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url("/content/uploads/2023/08/Dunbar-Tall-Hairline.woff")
			format("woff"),
		url("/content/uploads/2023/08/Dunbar-Tall-Hairline.ttf")
			format("truetype");
}
@font-face {
	font-family: "Dunbar Tall";
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url("/content/uploads/2023/08/Dunbar-Tall-Hairline-italic.woff")
			format("woff"),
		url("/content/uploads/2023/08/Dunbar-Tall-Hairline-italic.ttf")
			format("truetype");
}
@font-face {
	font-family: "Dunbar Tall";
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url("/content/uploads/2023/08/Dunbar-Tall-Extra-Light.woff")
			format("woff"),
		url("/content/uploads/2023/08/Dunbar-Tall-Extra-Light.ttf")
			format("truetype");
}
@font-face {
	font-family: "Dunbar Tall";
	font-style: italic;
	font-weight: 200;
	font-display: auto;
	src: url("/content/uploads/2023/08/Dunbar-Tall-extra-light-italic.woff")
			format("woff"),
		url("/content/uploads/2023/08/Dunbar-Tall-extra-light-italic.ttf")
			format("truetype");
}
@font-face {
	font-family: "Dunbar Tall";
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url("/content/uploads/2023/08/Dunbar-Tall-Light.woff") format("woff"),
		url("/content/uploads/2023/08/Dunbar-Tall-Light.ttf") format("truetype");
}
@font-face {
	font-family: "Dunbar Tall";
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url("/content/uploads/2023/08/Dunbar-Tall-Light-italic.woff")
			format("woff"),
		url("/content/uploads/2023/08/Dunbar-Tall-Light-italic.ttf")
			format("truetype");
}
@font-face {
	font-family: "Dunbar Tall";
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url("/content/uploads/2023/08/Dunbar-Tall-Book.woff") format("woff"),
		url("/content/uploads/2023/08/Dunbar-Tall-Book.ttf") format("truetype");
}
@font-face {
	font-family: "Dunbar Tall";
	font-style: italic;
	font-weight: 400;
	font-display: auto;
	src: url("/content/uploads/2023/08/Dunbar-Tall-Book-italic.woff")
			format("woff"),
		url("/content/uploads/2023/08/Dunbar-Tall-Book-italic.ttf")
			format("truetype");
}
@font-face {
	font-family: "Dunbar Tall";
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url("/content/uploads/2023/08/Dunbar-Tall-Regular.woff") format("woff"),
		url("/content/uploads/2023/08/Dunbar-Tall-Regular.ttf")
			format("truetype");
}
@font-face {
	font-family: "Dunbar Tall";
	font-style: italic;
	font-weight: 500;
	font-display: auto;
	src: url("/content/uploads/2023/08/Dunbar-Tall-Italic.woff") format("woff"),
		url("/content/uploads/2023/08/Dunbar-Tall-Italic.ttf")
			format("truetype");
}
@font-face {
	font-family: "Dunbar Tall";
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url("/content/uploads/2023/08/Dunbar-Tall-Medium.woff") format("woff"),
		url("/content/uploads/2023/08/Dunbar-Tall-Medium.ttf")
			format("truetype");
}
@font-face {
	font-family: "Dunbar Tall";
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url("/content/uploads/2023/08/Dunbar-Tall-Medium-Italic.woff")
			format("woff"),
		url("/content/uploads/2023/08/Dunbar-Tall-Medium-Italic.ttf")
			format("truetype");
}
@font-face {
	font-family: "Dunbar Tall";
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url("/content/uploads/2023/08/Dunbar-Tall-Bold.woff") format("woff"),
		url("/content/uploads/2023/08/Dunbar-Tall-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Dunbar Tall";
	font-style: italic;
	font-weight: 700;
	font-display: auto;
	src: url("/content/uploads/2023/08/Dunbar-Tall-Bold-Italic.woff")
			format("woff"),
		url("/content/uploads/2023/08/Dunbar-Tall-Bold-Italic.ttf")
			format("truetype");
}
@font-face {
	font-family: "Dunbar Tall";
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url("/content/uploads/2023/08/Dunbar-Tall-Extra-Bold.woff")
			format("woff"),
		url("/content/uploads/2023/08/Dunbar-Tall-Extra-Bold.ttf")
			format("truetype");
}
@font-face {
	font-family: "Dunbar Tall";
	font-style: italic;
	font-weight: 800;
	font-display: auto;
	src: url("/content/uploads/2023/08/Dunbar-Tall-Extra-Bold-italic.woff")
			format("woff"),
		url("/content/uploads/2023/08/Dunbar-Tall-Extra-Bold-italic.ttf")
			format("truetype");
}
@font-face {
	font-family: "Dunbar Tall";
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url("/content/uploads/2023/08/Dunbar-Tall-Ultra.woff") format("woff"),
		url("/content/uploads/2023/08/Dunbar-Tall-Ultra.ttf") format("truetype");
}
@font-face {
	font-family: "Dunbar Tall";
	font-style: italic;
	font-weight: 900;
	font-display: auto;
	src: url("/content/uploads/2023/08/Dunbar-Tall-Ultra-Italic.woff")
			format("woff"),
		url("/content/uploads/2023/08/Dunbar-Tall-Ultra-Italic.ttf")
			format("truetype");
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url("/content/uploads/2023/09/roboto-v30-latin-regular.woff2")
			format("woff2"),
		url("/content/uploads/2023/09/roboto-v30-latin-regular.woff")
			format("woff"),
		url("/content/uploads/2023/09/roboto-v30-latin-regular.ttf")
			format("truetype"),
		url("/content/uploads/2023/09/roboto-v30-latin-regular.svg#Roboto")
			format("svg");
}
/* End Custom Fonts CSS */
