.elementor-14904 .elementor-element.elementor-element-44d3d325 {
  --display: flex;
  /* --min-height: 90vh; */
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: flex-start;
  /* --gap: 30px 30px; */
  --background-transition: 0.3s;
  --padding-top: 0%;
  --padding-bottom: 0%;
  --padding-left: 0%;
  --padding-right: 0%;
}
.elementor-14904 .elementor-element.elementor-element-44d3d325,
.elementor-14904 .elementor-element.elementor-element-44d3d325::before {
  --border-transition: 0.3s;
}
.elementor-14904 .elementor-element.elementor-element-44d3d325.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-14904 .elementor-element.elementor-element-3842a042 {
  --display: flex;
  --min-height: 0px;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  --background-transition: 0.3s;
}
.elementor-14904 .elementor-element.elementor-element-3842a042,
.elementor-14904 .elementor-element.elementor-element-3842a042::before {
  --border-transition: 0.3s;
}
.elementor-14904 .elementor-element.elementor-element-56122cb {
  --display: flex;
  --align-items: flex-start;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --background-transition: 0.3s;
}
.elementor-14904
  .elementor-element.elementor-element-5f312eaf
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  /* padding-bottom: calc(0.5em / 2); */
}
.elementor-14904
  .elementor-element.elementor-element-5f312eaf
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  /* margin-top: calc(0.5em / 2); */
}
.elementor-14904
  .elementor-element.elementor-element-5f312eaf
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(0.5em / 2);
  margin-left: calc(0.5em / 2);
}
.elementor-14904
  .elementor-element.elementor-element-5f312eaf
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-0.5em / 2);
  margin-left: calc(-0.5em / 2);
}
body.rtl
  .elementor-14904
  .elementor-element.elementor-element-5f312eaf
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-0.5em / 2);
}
body:not(.rtl)
  .elementor-14904
  .elementor-element.elementor-element-5f312eaf
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-0.5em / 2);
}
.elementor-14904
  .elementor-element.elementor-element-5f312eaf
  .elementor-icon-list-icon
  i {
  transition: color 0.3s;
}
.elementor-14904
  .elementor-element.elementor-element-5f312eaf
  .elementor-icon-list-icon
  svg {
  transition: fill 0.3s;
}
.elementor-14904 .elementor-element.elementor-element-5f312eaf {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-14904
  .elementor-element.elementor-element-5f312eaf
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-14904
  .elementor-element.elementor-element-5f312eaf
  .elementor-icon-list-item
  > a {
  font-family: "Dunbar Tall", Sans-serif;
  /* font-size: 4.5rem; */
  font-weight: 800;
  text-transform: uppercase;
  font-style: italic;
}
.elementor-14904
  .elementor-element.elementor-element-5f312eaf
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: var(--e-global-color-5fd91c3);
}
.elementor-14904
  .elementor-element.elementor-element-5f312eaf
  .elementor-icon-list-text {
  transition: color 0.2s;
}
.elementor-14904
  .elementor-element.elementor-element-1f77aa62
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(0.5em / 2);
}
.elementor-14904
  .elementor-element.elementor-element-1f77aa62
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(0.5em / 2);
}
.elementor-14904
  .elementor-element.elementor-element-1f77aa62
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(0.5em / 2);
  margin-left: calc(0.5em / 2);
}
.elementor-14904
  .elementor-element.elementor-element-1f77aa62
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-0.5em / 2);
  margin-left: calc(-0.5em / 2);
}
body.rtl
  .elementor-14904
  .elementor-element.elementor-element-1f77aa62
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-0.5em / 2);
}
body:not(.rtl)
  .elementor-14904
  .elementor-element.elementor-element-1f77aa62
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-0.5em / 2);
}
.elementor-14904
  .elementor-element.elementor-element-1f77aa62
  .elementor-icon-list-icon
  i {
  transition: color 0.3s;
}
.elementor-14904
  .elementor-element.elementor-element-1f77aa62
  .elementor-icon-list-icon
  svg {
  transition: fill 0.3s;
}
.elementor-14904 .elementor-element.elementor-element-1f77aa62 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-14904
  .elementor-element.elementor-element-1f77aa62
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-14904
  .elementor-element.elementor-element-1f77aa62
  .elementor-icon-list-item
  > a {
  font-family: "Dunbar Tall", Sans-serif;
  /* font-size: 4rem; */
  font-weight: 400;
  text-transform: uppercase;
  font-style: italic;
}
.elementor-14904
  .elementor-element.elementor-element-1f77aa62
  .elementor-icon-list-text {
  color: var(--e-global-color-5fd91c3);
  transition: color 0.2s;
}
.elementor-14904
  .elementor-element.elementor-element-1f77aa62
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: var(--e-global-color-secondary);
}
#elementor-popup-modal-14904 .dialog-message {
  width: 300px;
  height: 300px;
  align-items: center;
}
#elementor-popup-modal-14904 {
  justify-content: center;
  align-items: center;
  pointer-events: all;
}
#elementor-popup-modal-14904 .dialog-close-button {
  display: flex;
  top: 3%;
  font-size: 30px;
}
#elementor-popup-modal-14904 .dialog-widget-content {
  position: fixed;
  top: 100px;
  right: 200px;
  animation-duration: 1.5s;
  background-color: #642480fa;
  box-shadow: 0px 0px 50px 15px rgba(255, 255, 255, 0.15);
}
body:not(.rtl) #elementor-popup-modal-14904 .dialog-close-button {
  right: 6%;
}
body.rtl #elementor-popup-modal-14904 .dialog-close-button {
  left: 6%;
}
#elementor-popup-modal-14904 .dialog-close-button i {
  color: #ffffff;
}
#elementor-popup-modal-14904 .dialog-close-button svg {
  fill: #ffffff;
}
/* @media (min-width: 768px) {
  .elementor-14904 .elementor-element.elementor-element-44d3d325 {
    --width: 75.916vw;
  }
  .elementor-14904 .elementor-element.elementor-element-3842a042 {
    --width: 100%;
  }
  .elementor-14904 .elementor-element.elementor-element-56122cb {
    --width: 100%;
  }
}
@media (max-width: 1023px) {
  #elementor-popup-modal-14904 .dialog-message {
    width: 715px;
  }
  #elementor-popup-modal-14904 .dialog-close-button {
    top: 35px;
  }
  body:not(.rtl) #elementor-popup-modal-14904 .dialog-close-button {
    right: 35px;
  }
  body.rtl #elementor-popup-modal-14904 .dialog-close-button {
    left: 35px;
  }
}
@media (max-width: 767px) {
  #elementor-popup-modal-14904 {
    align-items: center;
  }
  #elementor-popup-modal-14904 .dialog-close-button {
    top: 30px;
  }
  body:not(.rtl) #elementor-popup-modal-14904 .dialog-close-button {
    right: 30px;
  }
  body.rtl #elementor-popup-modal-14904 .dialog-close-button {
    left: 30px;
  }
} */

/* Start custom CSS for icon-list, class: .elementor-element-5f312eaf */
.elementor-icon-list-text {
  font-size: 1.5rem; /* for desktop */
}

ul.elementor-icon-list-items {
  list-style: none;
}
